
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.egg-info/
.Python
*.egg
MANIFEST

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
build_version_details.txt

*.spec

bin/

.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

data/

.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
Desktop.ini

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.ipynb_checkpoints

*.tmp
*.bak