
__pycache__/
*.py[cod]
*$py.class
*.so

*.pyd

.Python

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.spec

bin/

build_version_details.txt

.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

data/

.vscode/
.idea/

.DS_Store
Thumbs.db
Desktop.ini

*.tmp
*.bak
*.swp
*~

*.sqsh

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.ipynb_checkpoints

.pylance/
.pyright_output/